<launch>
  <arg name="staged_command_topic" default="/arm_joint_command_a1_staged" />
  <arg name="joint_states_topic" default="/joint_states_host" />
  <arg name="target_topic" default="/arm_joint_target_position" />
  <arg name="ee_pose_topic" default="/end_effector_pose" />

  <param
    name="robot_description"
    textfile="$(find mobiman)/urdf/A1/urdf/A1_URDF_0607_0028.urdf" />

  <node pkg="mobiman" type="jointTracker_demo_node" name="jointTracker_demo_node" output="screen">
    <param name="joint_states_sub_topic" value="$(arg joint_states_topic)" />
    <param name="arm_joint_command_topic" value="$(arg staged_command_topic)" />
    <param name="arm_joint_target_position" value="$(arg target_topic)" />
    <param name="taskFile" value="$(find mobiman)/config/task.info" />
    <param name="urdfFile" value="$(find mobiman)/urdf/A1/urdf/A1_URDF_0607_0028.urdf" />
    <param name="libFolder" value="$(find mobiman)/auto_generated/x1_robot" />
  </node>

  <node pkg="mobiman" type="eepose_pub_node" name="eePose_pub_node" output="screen">
    <param name="urdfFile" value="$(find mobiman)/urdf/A1/urdf/A1_URDF_0607_0028.urdf" />
    <param name="ee_frame" value="arm_seg6" />
    <param name="eePose_sub_topic" value="$(arg joint_states_topic)" />
    <param name="eePose_pub_topic" value="$(arg ee_pose_topic)" />
  </node>

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher">
    <remap from="joint_states" to="$(arg joint_states_topic)" />
  </node>
</launch>
